<script>
document.title="hhhhhhhhhhhhhhhuu88888";
</script>
<div >
	<div class="container h-100" col-sm-4 offset-sm-4>
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img style="width: 100%"
							src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png"
							class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value=""
								placeholder="password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
					</form>
				</div>
				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="button" name="button" class="btn login_btn ">Login</button>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="#" class="ml-2">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<button id="btn" style="background:#98bf21;height:100px;width:100px;position:relative;" >click</button>
		</div>
		<div >
			<p id="par" style="background:#666;height:100px;width:100px;position:relative;">ffffffffffffffffffff</p>
		</div>

		<input id='username'>
		<input type="checkbox" id ="checkBox" checked>




		<div id="div1">hhh</div>
		<div id="div2">kkkkkkkkkkkk</div>



		<div class="col-sm-12" [ngClass] ="myValue == false?'cRed': 'cYellow'" (click)="colorChange()">
  Hiiig
</div>
<div class="col-sm-12" [ngClass] ="myValue == false?'cYellow': 'cRed'"  (click)="colorChange()">
  Byeee
</div>
<div >
	<select  (change)="monthFun($event)">
		<option *ngFor="let month of months" >{{month}}</option>
	</select>
</div>